.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-con-center {
    justify-content: center;
}

.j-con-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.button {
    width: 112px;
    height: 45px;
    border-radius: 20px;
    border: transparent;
    background-color: #f1edfc;
    cursor: pointer;
}

.button:hover {
    background-color: #d0c2f5;
}

.button_purple {
    width: 245px;
    height: 45px;
    border: transparent;
    background-color: #7c5dde;
    cursor: pointer;
}

.button_yellow {
    width: 230px;
    height: 55px;
    border: transparent;
    background-color: #f1c50d;
    cursor: pointer;
}

.button_yellow:hover {
    background-color: #808080;
    color: #000;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-30 {
    margin-left: 30px;
}